{{ $base := "https://raw.githubusercontent.com/mattpocock/skills/main/skills" -}}
# grill-with-docs and its required skills
["grill-with-docs/SKILL.md"]
    type = "file"
    url = "{{ $base }}/engineering/grill-with-docs/SKILL.md"
    refreshPeriod = "168h"

["grilling/SKILL.md"]
    type = "file"
    url = "{{ $base }}/productivity/grilling/SKILL.md"
    refreshPeriod = "168h"

["domain-modeling/SKILL.md"]
    type = "file"
    url = "{{ $base }}/engineering/domain-modeling/SKILL.md"
    refreshPeriod = "168h"

["domain-modeling/ADR-FORMAT.md"]
    type = "file"
    url = "{{ $base }}/engineering/domain-modeling/ADR-FORMAT.md"
    refreshPeriod = "168h"

["domain-modeling/CONTEXT-FORMAT.md"]
    type = "file"
    url = "{{ $base }}/engineering/domain-modeling/CONTEXT-FORMAT.md"
    refreshPeriod = "168h"
