{
  "email": "bitwarden@rdailey.me",
{{- if eq .env "work" }}
  "lock_timeout": 7200,
{{- else }}
  "lock_timeout": 28800,
{{- end }}
  "sync_interval": 3600,
{{- if eq .chezmoi.os "darwin" }}
  "pinentry": "pinentry-mac"
{{- else }}
  "pinentry": "pinentry-qt"
{{- end }}
}
