[tools]
node = "latest"
python = "latest"
powershell = "latest"
slsa-verifier = "latest"
chezmoi = "latest"
cosign = "latest"
fzf = "latest"
ripgrep = "latest"
eza = "latest"
delta = "latest"
jq = "latest"
yq = "latest"
shfmt = "latest"
shellcheck = "latest"
age = "latest"
gh = "latest"
lazygit = "latest"
uv = "latest"
golangci-lint = "latest"
task = "latest"
act = "latest"
"pipx:git-filter-repo" = "latest"
crane = "latest"
rclone = "latest"
yamllint = "latest"
tree-sitter = "latest"
coreutils = "latest"
pre-commit = "latest"
kubectl = "latest"
k9s = "latest"
kustomize = "latest"
sops = "latest"
helm = "latest"
aws = "latest"
terraform = "latest"
usage = "latest"

[settings]
auto_install = true
jobs = 4
trusted_config_paths = ["~/.config/mise"]
experimental = true
env_file = ".env"

[env]

[hooks]
cd = "mise current 2>/dev/null | head -5 || true"
