#!/usr/bin/env zsh

{{ if and (hasKey .chezmoi "kernel") (hasKey .chezmoi.kernel "osrelease") (contains "WSL" .chezmoi.kernel.osrelease) -}}
cat | clip.exe
{{ else if eq .chezmoi.os "darwin" -}}
cat | pbcopy
{{ else if eq .chezmoi.os "linux" -}}
cat | xclip -selection clipboard
{{ else -}}
echo "Error: Unsupported platform for clipboard operations" >&2
return 1
{{ end -}}
