#!/usr/bin/env zsh

{{ if and (hasKey .chezmoi "kernel") (hasKey .chezmoi.kernel "osrelease") (contains "WSL" .chezmoi.kernel.osrelease) -}}
clip.exe
{{ else if eq .chezmoi.os "darwin" -}}
pbcopy
{{ else if eq .chezmoi.os "linux" -}}
tee >(xclip -selection clipboard) | xclip -selection primary
{{ else -}}
echo "Error: Unsupported platform for clipboard operations" >&2
return 1
{{ end -}}
